<?xml version="1.0" encoding="utf-8" ?>

<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="g:\nlog-internalBookShelf.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Appsettings.Standard" />
	</extensions>
	<!--connectionString="Server=LAPTOP-R3P7DCQ0\SQLEXPRESS;Initial Catalog=ShelfBookDBTest;User ID=BookShelfAPI;Password=Book5000;">-->
	<targets>

		<target name="database" xsi:type="Database"
			
			connectionString="${appsettings:ConnectionStrings.BookShelf}">
			<commandText>
				insert into dbo.LoggerLowState (
				Application, Logged, Level, Message,
				Logger, Callsite, Exception
				) values (
				@Application, @Logged, @Level, @Message,
				@Logger, @Callsite, @Exception
				);
			</commandText>
			<parameter name="@application" layout="AspNetCoreNlog" />
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callsite" layout="${callsite}" />
			<parameter name="@exception" layout="${exception:tostring}" />
			
		</target>
		<!--<target xsi:type="File" name="allfile" fileName="G:\old_files\Loger\Book\nlog-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->
		<target name="databaseError" xsi:type="Database"
			connectionString="${appsettings:ConnectionStrings.BookShelf}">
			<commandText>
				insert into dbo.LoggerError (
				Application, Logged, Level, Message,
				Logger, Callsite, Exception
				) values (
				@Application, @Logged, @Level, @Message,
				@Logger, @Callsite, @Exception
				);
			</commandText>
			<parameter name="@application" layout="AspNetCoreNlog" />
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callsite" layout="${callsite}" />
			<parameter name="@exception" layout="${exception:tostring}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace"  maxlevel="Warn" writeTo="database"/>
		<!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->
		<logger name="*" minlevel="Error"  writeTo="databaseError"/>
		
	</rules>
</nlog>